<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Text Explore</title>
    <meta name="description" content="The small web application that ranks the words on a given wikipedia topic">
    <meta name="author" content="Leonid Volkov">
    <link rel="stylesheet" href="/styles/site.css">
    <script src="scripts/app.js" type="module"></script>
</head>
<body>

<header>
    <h1>The small web application that ranks the words on a given wikipedia topic</h1>
</header>

<main>
    <section>

        <form id="searchForm">
            <label for="keyword">Keyword for search:</label>
            <input id="keyword" type="text" maxlength="50" />
            <input id="submit" type="submit" value="Search">
        </form>
        <div id="wordsList"></div>
        <div class="progress-step" id="loader">
            <div class="status-text">Loading...</div>
            <div class="loader">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

    </section>
</main>

<footer>
    <div class="copyright">
        Copyright &copy; <%= year %> Leonid Volkov, all rights reserved.
    </div>
</footer>

</body>
</html>