body {
    margin: 0;
    padding: 20px 10%;
    background: linear-gradient(#d5e3ea, #fff) no-repeat;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 26px;
    color: #777;
    text-align: center;
}

h2 {
    font-size: 22px;
    color: #777;
}

h3 {
    font-size: 18px;
    color: #777;
}

form {
    text-align: center;
    margin: 100px auto 20px;
}

input {
    font-size: 16px;
    border: 1px solid #777;
    border-radius: 5px;
    padding: 5px 10px;
}

input[type=text] {

}

header {
    margin: 20px 0;
}

main {
    margin: 20px 0;
    min-height: 70vh;
}

footer {
    margin: 20px 0 0;
    min-height: 10vh;
}

.copyright {
    color: #888;
    text-align: center;
    font-size: 80%;
}

#wordsList ol {
    margin: 20px auto;
    width: 650px;
    column-width: 200px;
    column-rule-style: none;
}

/* progess - loading */
.progress-step {
    background-color: transparent;
    transition: background-color .4s ease-in .6s
}

.progress-step.removed {
    display: none;
}

.progress-step .status-text {
    font-size: 18px;
    color: #777;
    text-align: center;
    padding-top: 40px
}

.progress-step .loader {
    position: relative;
    width: 64px;
    margin: auto
}

.progress-step .loader div {
    position: absolute;
    top: 30px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #3d99f5;
    animation-timing-function: cubic-bezier(0, 1, 1, 0)
}

.progress-step .loader div:nth-child(1) {
    left: 6px;
    animation: loader1 .6s infinite
}

.progress-step .loader div:nth-child(2) {
    left: 6px;
    animation: loader2 .6s infinite
}

.progress-step .loader div:nth-child(3) {
    left: 26px;
    animation: loader2 .6s infinite
}

.progress-step .loader div:nth-child(4) {
    left: 45px;
    animation: loader3 .6s infinite
}

@keyframes loader1 {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes loader3 {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(0)
    }
}

@keyframes loader2 {
    0% {
        transform: translate(0, 0)
    }
    100% {
        transform: translate(19px, 0)
    }
}